@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Hind Siliguri", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #284a4e;
  --color-secondary: #377375;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
